*.pyc
authModule/migrations/__pycache__/
authModule/migrations/*.pyc
authModule/migrations/versions/
*__pycache__/
.DS_Store
env/
venv/
.env
.idea/
.vscode/
__pycache__/
instance/
*.sqlite3
*.log
*.pot
*.mo
*.db


