@import  'tailwindcss';
/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9fafb; 
  font-family: system-ui, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
